
  body, input, select, textarea {
/*    color: #646464;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 300;
    line-height: 1.75em;*/
  }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    li {
      float: left;
    }
    a {
      display: block;
      width: 170px;
      background-color: #dddddd;
    }
    img{
      width:3.2%;
      height:3.2%;
    }
    .playerList {
      margin: 10px;
      width: 50px;
      height: 50px;
      background-color: #d3d3d3;
      background-repeat: no-repeat;
      background-position: 50%;
      border-radius: 50%;
    }
    .teamimg {
      width: 10%;
      height: 10%;
      float:left;
    }
    .playerimg {
      width: 125%;
      height: 125%;
      background-repeat: no-repeat;
      background-position: 50%;
      border-radius: 50%;
    }

    div#teamlist {
      background-color: #0099FF;
      /* Firefox */
      display:-moz-box;
      -moz-box-pack:center;
      -moz-box-align:center;
      /* Safari and Chrome */
      display:-webkit-box;
      -webkit-box-pack:center;
      -webkit-box-align:center;
      /* W3C */
      display:box;
      box-pack:center;
      box-align:center;
    }
    div.playerlist {
      background-color: #00CCFF;
      /* Firefox */
      display:-moz-box;
      -moz-box-pack:center;
      -moz-box-align:center;
      /* Safari and Chrome */
      display:-webkit-box;
      -webkit-box-pack:center;
      -webkit-box-align:center;
      /* W3C */
      display:box;
      box-pack:center;
      box-align:center;
    }

    .teamListImage {
       display: block;
    }

     tr:nth-child(even) {
      background-color: lightgray;
    }
    tr:nth-child(odd) {
      background-color: white;
    }
    table {
        border-collapse: collapse;
    }
    table, th, td, caption {
        border: 1px solid #888888;
    }

    th, td, caption {
      padding: 3px;
    }

    .in {
      background-repeat: no-repeat;
      background-position: 50%;
      border-radius: 50%;
      background: green;
      width:5px;
      height:5px;
      position:absolute;
    }

    .axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}
/*.rawr {
  opacity: 0;
}*/

.bar{
    opacity: .2;
  }
.bar--not{
  opacity:.5;

}
.x.axis path {
  display: none;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
svg {
  font: 10px sans-serif;
}


.area2{
  fill: #9edae5;
  clip-path: url(#clip);

}
.area3{
  fill: #17becf;
  clip-path: url(#clip);

}
.area4{
  fill: #a1d99b;
  clip-path: url(#clip);

}
.area5{
  fill: green;
  clip-path: url(#clip);

}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.container { 
    width: 1400px; /* pick whatever width you want */
}
.container .outer {
    width: 100%;
    padding-top: 75%; /* defines aspect ratio */
    position: relative;
}
.container .outer .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
}

